.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 998px;
}

.u-section-1 .u-group-1 {
  width: 688px;
  min-height: 800px;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-shape-1 {
  width: 600px;
  height: 600px;
  margin: 27px auto 0;
}

.u-section-1 .u-image-1 {
  width: 504px;
  height: 504px;
  background-image: url("images/soostudio_logo2.png");
  background-position: 50% 50%;
  margin: -552px auto 0 92px;
}

.u-section-1 .u-text-1 {
  margin: 92px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-family: Poppins;
  font-weight: 700;
  margin: -527px auto 369px 104px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -66px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-1 .u-group-1 {
    min-height: 731px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    height: 520px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 430px;
    height: 430px;
    margin-top: -475px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 119px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 23px;
    margin-bottom: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-1 .u-group-1 {
    min-height: 590px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    height: 320px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 287px;
    height: 287px;
    margin-top: -313px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 53px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-bottom: 369px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 586px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 31px auto 59px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-2 .u-back-image-9 {
  object-position: 50% 38.83%;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    width: 340px;
  }
}.u-section-3 {
  min-height: 588px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 588px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Poppins;
  font-weight: 700;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-image-1 {
  min-height: 588px;
  background-image: url("images/soostudio-081.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 484px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-3 .u-image-1 {
    min-height: 485px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 371px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 371px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 278px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 417px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 175px;
  }

  .u-section-3 .u-image-1 {
    min-height: 263px;
  }
}