.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 860px;
}

.u-section-1 .u-group-1 {
  width: 688px;
  min-height: 800px;
  margin: 129px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-shape-1 {
  width: 600px;
  height: 600px;
  margin: 27px auto 0;
}

.u-section-1 .u-image-1 {
  width: 504px;
  height: 504px;
  background-image: url("images/ipad.png");
  background-position: 50% 50%;
  margin: -552px 32px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Poppins;
  font-weight: 700;
  margin: -674px 92px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  margin: 43px 92px 60px 738px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -66px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 630px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-bottom: 46px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 410px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 731px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    height: 520px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -472px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 23px;
    margin-bottom: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 230px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 590px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    height: 320px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: -272px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 617px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 64px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 409px;
  width: 847px;
  margin: 31px auto 60px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-back-image-1 {
  object-position: 50% 1.25%;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 0%;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 1.25%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-back-image-4 {
  object-position: 50% 0%;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-5 {
  object-position: 50% 0%;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-6 {
  object-position: 50% 1.25%;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-7 {
  object-position: 44.19% 1.25%;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 581px;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin-top: 60px;
  margin-bottom: 60px;
  grid-template-rows: auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Home-1920px.jpg");
  background-position: 50% 0%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-family: Poppins;
  font-weight: 700;
  margin: 277px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  margin: 19px 1px 0 0;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/iPhoneXRXSMax1124.png");
  background-position: 50% 17.62%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-family: Poppins;
  font-weight: 700;
  margin: 277px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-family: Poppins;
  margin: 19px 1px 0 0;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/WEBPAGE2.png");
  background-position: 54.29% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-family: Poppins;
  font-weight: 700;
  margin: 277px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-family: Poppins;
  margin: 19px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
}